@font-face {
    font-family: 'Fontspring';
    src: url('../assets/fonts/Fontspring-DEMO-amarga-regular.otf');
}

@font-face {
    font-family: 'Fontspring';
    src: url('../assets/fonts/Fontspring-DEMO-amarga-bold.otf');
    font-weight: bold;
}