#generator {
    border: 2px solid black;
    min-height: 100%;
    width: 600px;
    margin-left: .5rem;
    border-radius: calc($border-radius/2) calc($border-radius*2) calc($border-radius*2) calc($border-radius/2);
    position: relative;

    .result-list {
        display: grid;
        grid-template-areas: 'haut accessory'
            'bas shoe';
        padding: 1rem;
        box-sizing: border-box;
    }

    #generation-result > button {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    #haut {
        grid-area: haut;
    }

    #accessory {
        grid-area: accessory;
    }

    #bas {
        grid-area: bas;
    }

    #shoe {
        grid-area: shoe;
    }

    .clothing-card {
        position: relative;
        margin: 1rem auto;
        text-align: initial;
        background-color: $white;
        @include border-radius;
        overflow: hidden;
        // width: 80%;
        
        .icons {
            position: relative;
            left: 0;
            bottom: 0;

            li {
                display: inline-block;
                margin: .5rem;
                cursor: pointer;
                transition: transform .2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        button {
            display: block;
            margin: 1rem;
            margin-left: auto;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .color-container {
            display: none;
        }

        button {
            display: none;
        }

        .color-item {
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid $black;
            margin: .1rem;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    #weather {
        text-align: center;
        margin-top: 2rem;
    }

    #generation-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;



        select {
            @include border-radius;
            padding: .5rem;
            border: none;
            background-color: $white;
            margin: 1rem;
        }

        button {
            position: absolute;
            left: 1rem;
            bottom: 1rem;
        }
    }
}