#generator {
    border: 2px solid black;
    height: 100%;
    flex-grow: 1;
    margin-left: .5rem;
    border-radius: calc($border-radius/2) calc($border-radius*2) calc($border-radius*2) calc($border-radius/2);
}