dialog#new-clothing {
    margin: auto;

    &::backdrop {
        backdrop-filter: blur(5px);
    }

    border-radius: $border-radius;
    padding: 2rem;

    &>button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin-bottom: 2rem;
    }
}